body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #f2f2f2;
}

td, th {
  text-align: right;
}

td:first-child, th:first-child {
  text-align: center;
}
